aiohttp==3.10.11
aiomysql==0.3.2
fastapi==0.62.0
pydantic==1.10.24
python-dotenv==1.1.1
python-jose==3.3.0
redis==5.0.1
SQLAlchemy==1.4.52
starlette==0.13.6
uvicorn[standard]==0.30.6
APScheduler==3.10.4